networks:
  we-go-network:
    driver: bridge

volumes:
  redis-data:

services:

  redis:
    image: redis:7-alpine
    container_name: we-go-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis-data:/data
    networks:
      - we-go-network